<section id="title">

    <div class="container-fluid">

        <app-navbar></app-navbar>
        <div class="row">
            <div class="col-lg-6">
                <h1>Meet Alpha,<br>your personal Voice Assistant!</h1>
                <button type="button" class="btn btn-warning btn-lg download-button" (click)="erroalert()"><i
                        class="fab fa-apple"></i>
                    Download</button>
                <button type="button" class="btn btn-danger btn-lg download-button" (click)="erroalert()"><i class=" fab
                    fa-google-play"></i>
                    Download</button>
            </div>


            <div class="col-lg-6">
                <img src="/assets/images/alpha.png" width="340px" height="640px" alt="iphone-mockup">
            </div>
        </div>

    </div>
</section>

<!-- Title -->

<!-- Specs -->

<section id="specs">

    <div class="row">

        <div class="feature-box col-lg-4">
            <i class="icon far fa-check-circle fa-4x"></i>
            <h3>Easy to use.</h3>
            <p>So easy to use and very user friendly.</p>
        </div>

        <div class="feature-box col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
            <h3>Well Designed</h3>
            <p> Perfectly Designed in such a way that it is very useful for students.</p>
        </div>

        <div class="feature-box col-lg-4">
            <i class="icon fas fa-analytics fa-4x"></i>
            <h3>Data Analysis</h3>
            <p>We Analyse your data in an efficient way.</p>
        </div>

    </div>

</section>


<!-- Features -->

<section id="features-section">


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <h2> My message</h2>
                <img class="feature-image" src="/assets/images/Feature1.png">

            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <h2 class="testimonial-text">My message</h2>
                <img class="feature-image" src="/assets/images/Feature2.png">

            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <h2 class="testimonial-text">My message</h2>
                <img class="feature-image" src="/assets/images/Feature3.png">

            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>


</section>

<!-- Pricing -->

<section id="pricing">

    <h2>A Plan for your Needs</h2>
    <p>Simple and affordable price plans to manage your time.</p>


    <div class="row">

        <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Basic</h3>
                </div>
                <div class="card-body">
                    <h2>Free</h2>
                    <p>My feature</p>
                    <p>My feature</p>
                    <p>My feature</p>
                    <button class="btn btn-lg w-100 btn-block btn-outline-dark" type="button">Sign Up</button>
                </div>
            </div>
        </div>

        <div class="pricing-column col-lg-4 col-md-6">

            <div class="card">
                <div class="card-header">
                    <h3>Pro</h3>
                </div>
                <div class="card-body">
                    <h2>$49/Year</h2>
                    <p>My feature</p>
                    <p>My feature</p>
                    <p>My feature</p>
                    <button class="btn btn-lg w-100 btn-block btn-outline-dark" type="button">Sign Up</button>
                </div>
            </div>
        </div>


        <div class="pricing-column col-lg-4 col-md-12">

            <div class="card">
                <div class="card-header">
                    <h3>Pro +</h3>
                </div>
                <div class="card-body">
                    <h2>$99/Year</h2>
                    <p>My feature</p>
                    <p>My feature</p>
                    <p>My feature</p>
                    <button class="btn btn-lg w-100 btn-block btn-outline-dark" type="button">Sign Up</button>
                </div>
            </div>

        </div>

    </div>


</section>


<!-- Call to Action -->

<section id="cta">

    <h3 class="cta-heading">Find the best Application to manage your time.</h3>
    <button type="button" class="btn btn-warning btn-lg download-button" (click)="erroalert()"><i
            class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn btn-danger btn-lg download-button" (click)="erroalert()"><i
            class="fab fa-google-play"></i>
        Download</button>

</section>


<!-- Footer -->

<footer id="footer">
    <i class="social-icon fab fa-facebook"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-linkedin"></i>

    <p>© Copyright 2021 Alpha</p>

</footer>